:root {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #fff;

  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  min-width: 600px;
  max-width: 2560px;
}

svg {
  width: 100%;
  height: auto;
  display: block;
  overflow: visible;
}

#table {
  margin: 1em;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.table-column {
  flex: 1;
  border: 1px solid #49a;
  background-color: #fff;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;
}

.table-column-title {
  font-size: 18px;
  color: #333;
  text-align: center;
  padding-top: 0.5rem;
  white-space: nowrap;
}

.pct-rankings {
  flex: 1;
  padding: 0 20px 20px 22px;
}

#available-pct-rankings {}

.pct-group-title {
  box-sizing: border-box;
  padding: 10px 0 4px 0;
  height: 54px;
}

.pct-metrics {
  box-sizing: border-box;
  padding: 0 0 0 40px;
}

.pct-metric {
  height: 20px;
  padding: 0 0 3px 0;
}
