:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  min-width: 500px;
  max-width: 1280px;
  min-height: 100vh;
}

h1 {
  font-size: 16px;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.83em;
}

#table {
  margin: 1em;
  width: 100%;

  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.table-column {
  flex: 1;
  padding: 8px;
  border: 1px solid #49a;
  background-color: #fff;
}

.stat-category {
}

.stat-category-header {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 12px;
}

.stat-category-line {
  width: 90%;
  height: 2px;
  background-color: #49a;
  border: none;
  margin: 0 auto;

  position: relative;
  top: -6px;
}