#config-textarea-label {
    display: block;
    text-align: center;
    margin: 0 0 0.5rem 0;
    font-size: 14px;
}

#config-textarea-console {
    display: block;
    margin: 0.5rem 0;
    color: var(--error-red);
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

#config-textarea {
    font-size: 11px;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    max-height: 400px;
    outline: none;
}
